{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        {{ template "admin_sidebar" .}}
        <div class="w-full lg:w-3/4">
            <div class="flex">
                <div class="bg-white shadow-xl z-10 relative rounded w-full">
                    <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th class="text-left px-4 py-2">Setting</th>
                                <th class="text-left px-4 py-2">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range .Options }}
                            <tr>
                                <td class="border px-4 py-2"><a href="/admin/settings/{{ .Name }}" class="hover:underline">{{ .Name }}</a></td>
                                <td class="border px-4 py-2"><a href="/admin/settings/{{ .Name }}" class="hover:underline">{{ .Value }}</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{{ template "footer.html" . }}