{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        {{ template "admin_sidebar" .}}
        <div class="w-full lg:w-3/4 lg:pl-4">
            <div class="flex flex-col items-center flex-1 w-full justify-center px-4 sm:px-0">
                <div class="z-10 flex rounded-lg shadow-lg w-full bg-white sm:mx-0 p-10">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-col flex-1 justify-center mb-8">
                            <div id="course">
                                <h1 class="mt-4 text-4xl text-center font-thin">New course</h1>
                                <div class="w-full mt-4">
                                    <form class="form-horizontal w-full mx-auto" method="POST">
                                        <div class="flex flex-col mt-4">
                                            <a class="no-underline hover:underline text-blue-dark text-xs" href="">
                                            Course name
                                        </a>
                                            <input type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="name" value="{{ .Course.Name }}" placeholder="Course name">
                                        </div>
                                        <div class="flex flex-col mt-4">
                                            <a class="no-underline hover:underline text-blue-dark text-xs" href="">
                                            Course description
                                        </a>
                                            <input type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="description" value="{{ .Course.Description }}" placeholder="Course name">
                                        </div>

                                        <div class="flex flex-col mt-4">
                                            <a class="no-underline hover:underline text-blue-dark text-xs" href="">
                                            Category
                                        </a>
                                            <div class="relative">
                                                <select name="category" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                                    {{ range .Categories }}
                                                        <option value="{{ .Name }}">{{ .Name }}</option>
                                                    {{ end }}
                                                </select>
                                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex flex-col mt-8">
                                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                                Add new course
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" . }}