{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;" id="app">
    <div class="flex md:flex-row flex-wrap">
        {{ template "admin_sidebar" .}}
        <div class="w-full lg:w-3/4 lg:pl-4">
            <div class="flex flex-col items-center flex-1 w-full justify-center px-4 sm:px-0">
                <div class="z-10 flex rounded-lg shadow-lg w-full bg-white sm:mx-0 p-10">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-col flex-1 justify-center mb-8">
                            <h1 class="text-4xl text-center font-thin">Update Multiple Choice</h1>
                            <div class="w-full mt-4">
                                <form class="form-horizontal w-full mx-auto" method="POST">
                                    <div class="flex flex-col mt-4">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                                            Name
                                        </label>
                                        <input id="name" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="name" placeholder="Name" value="{{ .Name }}">
                                    </div>
                                    <div v-for="(question, index) in questions">
                                        <div class="flex flex-col mt-4">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            Question
                                        </label>
                                            <input @keydown="CheckQuestions" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="question" placeholder="Question" v-model="question.text">
                                        </div>
                                        <div class="flex flex-col mt-4" v-for="option in question.options">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                                Option
                                            </label>
                                            <input @keydown="CheckOptions(index)" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="option" placeholder="Option" v-model="option">
                                        </div>
                                    </div>
                                    <div class="flex flex-col mt-8">
                                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                            Update multiple-choice session
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: [
            "${", "}"
        ],
        data: {
            questions: [
                {{ range .Questions }}
                    {
                        text: "{{ .Text }}",
                        options: [
                            {{ range .Options }}
                                "{{ .Text }}",
                            {{ end }}
                            ""
                        ]
                    },
                {{ end }}
                {
                    text: "",
                    options: [""]
                }
            ]
        },
        methods: {
            CheckQuestions() {
                console.log("hej")
            },
            CheckOptions(index) {
                var shouldAdd = true
                for (option in this.questions[index].options) {
                    if (shouldAdd) {
                        if (this.questions[index].options[option] == "") {
                            shouldAdd = false
                        }
                    } else {
                        break;
                    }
                }
                if (shouldAdd) {
                    this.questions[index].options.push("");
                }
            }
        }
    })
</script>
{{ template "footer.html" . }}