{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        {{ template "admin_sidebar" .}}
        <div class="w-full lg:w-3/4 lg:pl-4">

            <main>
            {{ range .Categories }}
                <div class="bg-white m-3 p-6 shadow-xl z-10 relative rounded max-w-sm max-w-sm w-full lg:max-w-full lg:flex">
                    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://tailwindcss.com/img/card-left.jpg')" title="Woman holding a mug"></div>
                    <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                        <div class="mb-8">
                            <a href="/admin/categories/{{ .Slug }}" class="text-gray-900 font-bold text-xl mb-2">{{ .Name }}</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </main>

        </div>
    </div>
</div>
{{ template "footer.html" . }}