{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        {{ template "admin_sidebar" .}}
        <div class="w-full lg:w-3/4">
            <div class="flex">
                <div class="z-10 relative rounded w-full">
                    <div class="z-10 bg-white p-8 shadow-xl z-10 relative mb-8 rounded">
                        <h1 class="text-xl font-bold">{{ .Ticket.Title }}</h1>
                        <h1 class="text-sm font-bold">Ticket made by {{ .Ticket.User }}</h1>
                    </div>
                {{ range .Ticket.Responses }}
                    <div class="z-10 bg-white p-8 shadow-xl z-10 relative mb-8 rounded break-words">
                        <p class="mb-4">
                            {{ . }}
                        </p>
                    </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" . }}