{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        <div class="w-full">
            <div class="flex flex-col items-center flex-1 w-full justify-center px-4 sm:px-0">
                <div class="z-10 flex rounded-lg shadow-lg w-full bg-white sm:mx-0 p-4">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-col flex-1 justify-center mb-8">
                            <form class="form-horizontal" method="POST">
                                <div class="flex flex-col mt-4">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="title">
                                            Title
                                        </label>
                                    <input id="title" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="title" placeholder="Title">
                                </div>
                                <div class="flex flex-col mt-4">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="text">
                                            Text
                                        </label>
                                    <textarea name="text" id="text" class="resize-y px-2 border rounded focus:outline-none focus:shadow-outline" style="height: 300px;" Placeholder="Text"></textarea>
                                </div>
                                <div class="flex flex-col mt-4">
                                    <button type="submit" class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Create topic
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" . }}