<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <style>
            html {
                font-family: 'Muli', sans-serif;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
            h1 {
                font-size: 2em;
                margin: 0.67em 0;
                font-weight: 900;
            }
            h2 {
                font-size: 1.5em;
                margin: 16px 0;
                font-weight: 900;
            }
            h3 {
                font-size: 1.17em;
                margin: 8px 0;
                font-weight: 900;
            }
            h4 {
                margin: 8px 0;
                font-weight: 900;
            }
            h5 {
                font-size: 0.83em;
                margin: 8px 0;
                font-weight: 900;
            }
            h6 {
                font-size: 0.67em;
                margin: 8px 0;
                font-weight: 900;
            }
        </style>
        <title>{{ .Settings.Name }}</title>
    </head>

    <body class="leading-relaxed text-gray-900 bg-gray-100" style="font-family: 'Muli', sans-serif;">
        <div class="bg-indigo-700 h-40 absolute top-0 left-0 right-0" style="transform: skewY(-5deg) translateY(-100%); background: linear-gradient(90deg, #4c51bf, #313587);"></div>
        <div class="bg-indigo-700 h-40 absolute top-0 left-0 right-0" style="transform: skewY(-5deg) translateY(-50%); background: linear-gradient(90deg, #4c51bf, #313587);"></div>
        <nav class="w-full z-10 absolute top-0 left-0 flex items-center justify-between flex-wrap p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
                <span class="font-semibold text-xl tracking-tight">{{ .Settings.Name }}</span>
            </div>
            <div class="block lg:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    {{ $BlogActivated := .Settings.BlogActivated }}
                    {{ $ForumActivated := .Settings.ForumActivated }}
                    {{ $PodcastActivated := .Settings.PodcastActivated }}
                    {{ range .Toolbar }}
                        {{ if eq .Title "Blog" }}
                            {{ if eq $BlogActivated "1" }}
                                <a href="{{ .Slug }}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                    {{ .Title }}
                                </a>
                            {{ end }}
                        {{ else if eq .Title "Forum" }}
                            {{ if eq $ForumActivated "1" }}
                                <a href="{{ .Slug }}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                    {{ .Title }}
                                </a>
                            {{ end }}
                        {{ else if eq .Title "Podcast" }}
                            {{ if eq $PodcastActivated "1" }}
                                <a href="{{ .Slug }}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                    {{ .Title }}
                                </a>
                            {{ end }}
                        {{ else }}
                            <a href="{{ .Slug }}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                                {{ .Title }}
                            </a>
                        {{ end }}
                    {{ end }}
                </div>
                {{ if .Email }}
                    <div>

                        <div class="dropdown inline-block relative">
                            <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                                <span class="mr-1">{{ .Email }}</span>
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1" style="right: 0em;">
                                {{ if .UserIsAdmin }}
                                    <li class="">
                                        <a href="/admin" class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Admin</a>
                                    </li>
                                {{ end }}
                                <li class="">
                                    <a href="/settings" class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Settings</a>
                                </li>
                                <li class="">
                                    <a href="/payments" class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Payments</a>
                                </li>
                                <li class="">
                                    <a href="/support" class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap">Customer support</a>
                                </li>
                                <li class="">
                                    <a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/sign/out">Sign out</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                {{ else }}
                    <div>
                        <a href="/sign/up" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Sign up</a>
                        <a href="/sign/in" class="inline-block text-sm px-4 py-2 leading-none rounded border-transparent text-teal-500 bg-white mt-4 lg:mt-0">Sign in</a>
                    </div>
                {{ end }}
            </div>
        </nav>
        <div class="bg-indigo-700 text-white pt-6 lg:pt-16 pb-40 shadow-xl" style="transform: skewY(-5deg);  background: linear-gradient(90deg, #4c51bf, #313587); margin-top: 4rem;">
            <div class="container mx-auto px-4 lg:px-8" style="transform: skewY(5deg);">
                <div class="flex flex-row justify-between">
                    <p class="text-lg font-bold">
                        {{ .Settings.Name }}
                        {{ range .Paths }}
                            > <a class="font-normal hover:underline" href="{{ .Link }}">{{ .Name }}</a>
                        {{ end }}
                    </p>
                    <button id="menu-button" class="lg:hidden" role="button" aria-label="Menu">
                        <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32; color: white;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="#ffffff" d="m4,8.491662l24,0c1.104,0 2,-1.121245 2,-2.502779s-0.896,-2.502779 -2,-2.502779l-24,0c-1.104,0 -2,1.121245 -2,2.502779s0.896,2.502779 2,2.502779zm24,5.005559l-24,0c-1.104,0 -2,1.121245 -2,2.502779s0.896,2.502779 2,2.502779l24,0c1.104,0 2,-1.121245 2,-2.502779s-0.896,-2.502779 -2,-2.502779zm0,10.011118l-24,0c-1.104,0 -2,1.121245 -2,2.502779s0.896,2.502779 2,2.502779l24,0c1.104,0 2,-1.121245 2,-2.502779s-0.896,-2.502779 -2,-2.502779z"></path>
                        </svg>
                    </button>
                </div>
                <div id="menu" class="bg-white px-6 py-1 mt-4 shadow-xl z-10 relative mb-8 rounded hidden">
                    <a href="/" class="font-semibold text-indigo-700 block my-4 hover:underline">{{ .Title }}</a>
                    {{ $prev_category := "" }}
                    {{ range .Courses }}
                        {{if not (eq .Category $prev_category) }}
                            {{ $prev_category = .Category }}
                            <h5 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">{{ $prev_category }}</h5>
                        {{end}}
                        <a href="/{{ .Slug }}" class="font-semibold text-gray-900 block my-4 hover:underline">{{ .Name }}</a>
                    {{ end }}
                </div>
                <script>
                    $btn = document.getElementById("menu-button");
                    $menu = document.getElementById("menu");

                    $btn.addEventListener("click", function () {
                        $menu
                            .classList
                            .toggle("hidden");
                    });
                </script>

                <h1 class="text-5xl font-bold leading-tight mt-8">{{ .Title }}</h1>
            </div>
        </div>

        <main>