{{define "session_sidebar"}}
    {{ $CourseSlug := .Course.Slug }}
    {{ $ModuleSlug := .Module.Slug }}
    <div class="w-full lg:w-1/4 lg:pr-4">
        <div class="bg-white lg:px-8 px-6 py-4 shadow-xl z-10 relative mb-8 rounded lg:block hidden">
            <h5 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Sessions</h5>
            {{ $Title := .Title }}
            {{ range .Sessions }}
                {{ if eq .Name $Title }}
                    <p class="font-semibold text-indigo-700 block my-4 hover:underline">{{ .Name }}</p>
                {{ else }}
                    <a href="/courses/{{ $CourseSlug }}/{{ $ModuleSlug }}/{{ .Slug }}" class="font-semibold text-gray-900 block my-4 hover:underline">{{ .Name }}</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{end}}