{{define "settings_sidebar"}}
    <div class="w-full lg:w-1/4 lg:pr-4">
        <div class="bg-white lg:px-8 px-6 py-4 shadow-xl z-10 relative mb-8 rounded lg:block hidden">
            <a href="/settings" class="font-semibold text-indigo-700 block my-4">
                Profile
            </a>
            <a href="/settings/payment" class="font-semibold text-gray-900 block my-4 hover:underline">
                Payment
            </a>
            <a href="/settings/email" class="font-semibold text-gray-900 block my-4 hover:underline">
                Email
            </a>
            <a href="/settings/password" class="font-semibold text-gray-900 block my-4 hover:underline">
                Password
            </a>
        </div>
    </div>
{{end}}