{{ template "header.html" . }}

<div class="container mx-auto lg:px-8 px-4" style="margin-top: -7rem;">
    <div class="flex md:flex-row flex-wrap">
        <div class="w-full">
            <div class="flex flex-col items-center flex-1 w-full justify-center px-4 sm:px-0">
                <div class="z-10 flex rounded-lg shadow-lg w-full bg-white sm:mx-0 p-4">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-col flex-1 justify-center mb-8">
                            <table class="table-auto w-full">
                                <thead>
                                    <tr>
                                        <th class="text-left px-4 py-2">Ticket</th>
                                        <th class="text-left px-4 py-2">Ticket solved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .Tickets }}
                                        <tr>
                                            <td class="border px-4 py-2">
                                                <a class="hover:underline" href="/support/{{ .Slug }}">{{ .Title }}</a>
                                            </td>
                                            <td class="border px-4 py-2">
                                                <a class="hover:underline" href="/support/{{ .Slug }}">
                                                    {{ if .Solved }} Yes {{ else }} No {{ end }}
                                                </a>
                                            </td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                            <a href="/support/new" class="text-center w-1/4 mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                New Ticket
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" . }}